@model VmBase
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@inject RoleManager<IdentityRole> RoleManager


<!DOCTYPE html>
<html lang="en">
<head>
    <title>News - @ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="~/plugin/themify-icons.css" />
    <!--===============================================================================================-->
    <script src="https://kit.fontawesome.com/d58faeafe2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link href="~/plugin/sweetalert2.min.css" rel="stylesheet" />
</head>
<body class="animsition">

    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <div class="topbar">
                <div class="content-topbar container h-100">
                    <div class="left-topbar">

                        <a asp-controller="about" asp-action="index" class="left-topbar-item">
                            About
                        </a>

                        <a asp-controller="contact" asp-action="index" class="left-topbar-item">
                            Contact
                        </a>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a asp-controller="account" asp-action="logout" class="left-topbar-item">
                                Logout
                            </a>
                        }
                        else
                        {
                            <a asp-controller="account" asp-action="register" class="left-topbar-item">
                                Sing up
                            </a>

                            <a asp-controller="account" asp-action="login" class="left-topbar-item">
                                Log in
                            </a>
                        }

                    </div>

                    <div class="right-topbar">
                        @await Component.InvokeAsync("Social")
                    </div>
                </div>
            </div>

            <!-- Header Mobile -->
            <div class="wrap-header-mobile">
                <!-- Logo moblie -->
                <div class="logo-mobile">
                    <a asp-controller="home" asp-action="index"><img src="~/images/icons/logo-01.png" alt="IMG-LOGO"></a>
                </div>

                <!-- Button show menu -->
                <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>

            <!-- Menu Mobile -->
            <div class="menu-mobile">
                <ul class="topbar-mobile">

                    <li class="left-topbar">
                        <a asp-controller="about" asp-action="index" class="left-topbar-item">
                            About
                        </a>

                        <a asp-controller="contact" asp-action="index" class="left-topbar-item">
                            Contact
                        </a>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a asp-controller="account" asp-action="logout" class="left-topbar-item">
                                Logout
                            </a>
                        }
                        else
                        {
                            <a asp-controller="account" asp-action="register" class="left-topbar-item">
                                Sing up
                            </a>

                            <a asp-controller="account" asp-action="login" class="left-topbar-item">
                                Log in
                            </a>
                        }
                    </li>

                    <li class="right-topbar">
                        @await Component.InvokeAsync("Social")
                    </li>
                </ul>

                <ul class="main-menu-m">
                    <li>
                        <a asp-controller="home" asp-action="index">Home</a>
                    </li>

                    <li>
                        <a asp-controller="news" asp-action="index">News</a>
                    </li>

                    @await Component.InvokeAsync("LayoutCategories")
                </ul>
            </div>

            <!--  -->
            <div class="wrap-logo container">
                <!-- Logo desktop -->
                <div class="logo">
                    <a asp-controller="home" asp-action="index"><img src="~/images/icons/logo-01.png" alt="LOGO"></a>
                </div>

                <!-- Banner -->
                <div class="banner-header">
                    <a href="https://themewagon.com/themes/free-bootstrap-4-html5-news-website-template-magnews2/"><img src="~/images/banner-01.jpg" alt="IMG"></a>
                </div>
            </div>

            <!--  -->
            <div class="wrap-main-nav">
                <div class="main-nav">
                    <!-- Menu desktop -->
                    <nav class="menu-desktop">
                        <a class="logo-stick" asp-controller="home" asp-action="index">
                            <img src="~/images/icons/logo-01.png" alt="LOGO">
                        </a>

                        <ul class="main-menu">
                            <li class="@(ViewBag.Page == "home"?"main-menu-active":"mega-menu-item") li-home">
                                <a asp-controller="home" asp-action="index">Home</a>
                            </li>

                            <li class="@(ViewBag.Page == "news"?"main-menu-active":"mega-menu-item") li-home">
                                <a asp-controller="news" asp-action="index">News</a>
                            </li>

                            @await Component.InvokeAsync("LayoutCategories")

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>


    <!-- Headline -->
    <div class="container">
        <div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
            @if (TempData["Controller"] == "Home")
            {
                <div class="f2-s-1 p-r-30 size-w-0 m-tb-6 flex-wr-s-c">
                    <span class="text-uppercase cl2 p-r-8">
                        Trending Now:
                    </span>

                    <span class="dis-inline-block cl6 slide100-txt pos-relative size-w-0" data-in="fadeInDown" data-out="fadeOutDown">
                        <span class="dis-inline-block slide100-txt-item animated visible-false">
                            Interest rate angst trips up US equity bull market
                        </span>

                        <span class="dis-inline-block slide100-txt-item animated visible-false">
                            Designer fashion show kicks off Variety Week
                        </span>

                        <span class="dis-inline-block slide100-txt-item animated visible-false">
                            Microsoft quisque at ipsum vel orci eleifend ultrices
                        </span>
                    </span>
                </div>

                <form id="search-form" asp-controller="news" asp-action="Index" autocomplete="off" method="get">
                    <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
                        <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="searchData" placeholder="Search">
                        <button type="submit" class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </div>
                </form>
            }
            else if (TempData["Controller"] == "News")
            {
                <div class="f2-s-1 p-r-30 m-tb-6">
                    <a asp-controller="Home" asp-action="index" class="breadcrumb-item f1-s-3 cl9">
                        Home
                    </a>

                    <a asp-controller="News" asp-action="index" class="breadcrumb-item f1-s-3 cl9">
                        News
                    </a>


                    @*<span class="breadcrumb-item f1-s-3 cl9">
                            Test
                        </span>*@

                </div>

                <form id="search-form" asp-controller="news" asp-action="Index" autocomplete="off" method="get">
                    <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
                        <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="searchData" placeholder="Search">
                        <button type="submit" class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </div>
                </form>
            }
            else if (TempData["Controller"] == "NewsDetails")
            {
                <div class="f2-s-1 p-r-30 m-tb-6">
                    <a href="index.html" class="breadcrumb-item f1-s-3 cl9">
                        Home
                    </a>

                    <a asp-controller="News" asp-action="index" class="breadcrumb-item f1-s-3 cl9">
                        News
                    </a>

                    <span class="breadcrumb-item f1-s-3 cl9">
                        @ViewBag.NewsTitle
                    </span>
                </div>

                <form id="search-form" asp-controller="news" asp-action="Index" autocomplete="off" method="get">
                    <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
                        <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="searchData" placeholder="Search">
                        <button type="submit" class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </div>
                </form>
            }



        </div>
    </div>
    @RenderBody()

    <!-- Footer -->
    <footer>
        <div class="bg2 p-t-40 p-b-25">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 p-b-20">
                        <div class="size-h-3 flex-s-c">
                            <a href="index.html">
                                <img class="max-s-full" src="~/images/icons/logo-02.png" alt="LOGO">
                            </a>
                        </div>

                        <div>
                            <p class="f1-s-1 cl11 p-b-16">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor magna eget elit efficitur, at accumsan sem placerat. Nulla tellus libero, mattis nec molestie at, facilisis ut turpis. Vestibulum dolor metus, tincidunt eget odio
                            </p>

                            <p class="f1-s-1 cl11 p-b-16">
                                Any questions? Call us on (+1) 96 716 6879
                            </p>

                            <div class="p-t-15">
                                @await Component.InvokeAsync("Social")
                            </div>
                        </div>
                    </div>

                    @*----------------------------------------------------------------*@

                    <div class="col-sm-6 col-lg-4 p-b-20">
                        <div class="size-h-3 flex-s-c">
                            <h5 class="f1-m-7 cl0">
                                
                            </h5>
                        </div>
                    </div>

                    @*Footer Categories*@

                    @await Component.InvokeAsync("FooterCategories")

                </div>
            </div>
        </div>

        <div class="bg11">
            <div class="container size-h-4 flex-c-c p-tb-15">
                <span class="f1-s-1 cl0 txt-center">
                    Copyright © 2022
                </span>
            </div>
        </div>
    </footer>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <span class="fas fa-angle-up"></span>
        </span>
    </div>




    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

    <script src="https://cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/plugin/sweetalert2.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.js"></script>

    @await Html.PartialAsync("_notificationPartial")
    @RenderSection("Scripts", required: false)


</body>
</html>